.detailSection {
  display: flex;
  background-color: #e8efee;
  padding: 42px 38px;
}

.leftSection {
  width: 30%;
  background-color: white;
  margin-right: 12px;
  padding: 18px;
}

.rightSection {
  width: 70%;
  background-color: white;
  padding: 8px 24px 12px 24px;
}

li {
  list-style-type: none !important;
}

ul {
  background-color: #e8efee;
  padding: 12px;
  border-radius: 11px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #0ba50b;
  color: white;
}

h3 {
  color: #0ba50b;
}

.iconSection {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #a49d9d;
  border-radius: 50%;
}

i{
  font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
  color: #0ba50b;
  border: 1px solid  #0ba50b;
  border-radius: 4px;
  padding: 4px;
  float: right;
}